{{ if .Site.Params.education.enable | default false }}
{{- $education := .Site.Language.Params.education | default .Site.Params.education -}}
<section id="education" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ $education.title | default .Site.Params.education.title | default (i18n "education") }}</h3>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8 py-5">
                <div class="experience-container px-3 pt-2">
                    <ul class="nav nav-pills mb-2 bg-transparent primary-font" id="education-tab" role="tablist">
                        {{ range $index, $group := $education.groups | default .Site.Params.education.groups }}
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div
                                class="nav-link {{ if (eq $index 0) }}active{{ end }} bg-transparent"
                                role="tab"
                                data-bs-toggle="pill"
                                id='edu-{{ $index }}-tab'
                                data-bs-target='#edu-{{ $index }}'
                                aria-controls='edu-{{ $index }}'
                            >
                                {{ .name }}
                            </div>
                        </li>
                        {{ end }}
                    </ul>

                    <div class="tab-content pb-3 bg-transparent primary-font" id="education-tabContent">
                        {{ range $index, $group := $education.groups | default .Site.Params.education.groups }}
                        <div
                            class="tab-pane fade bg-transparent {{ if eq $index 0 }}show active{{ end }}"
                            role="tabpanel"
                            id='edu-{{ $index }}'
                            aria-labelledby='edu-{{ $index }}-tab'
                        >
                            {{ range .items }}
                            <div class="mb-4">
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="h5">{{ .title }}</span>
                                    <span>{{ .date }}</span>
                                </div>
                                <div>{{ .school }}</div>
                                {{ if .GPA }}
                                <div><small>GPA: {{ .GPA }}</small></div>
                                {{ end }}
                                {{ if .content }}
                                <div class="pt-1">{{ .content | markdownify }}</div>
                                {{ end }}
                            </div>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
