@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

body {
    font-family: "Nunito", sans-serif !important;
}

.secondary-font, #secondary-font {
    font-family: "Nunito", sans-serif;
}

.primary-font, #primary-font {
    font-family: "Nunito", sans-serif;
}

.default-font, #default-font {
    font-family: "Nunito", sans-serif;
}

.page-content {
    font-size: 1.25rem;
}

#experience .experience-container .tab-content .tab-pane ul li {
    margin-bottom: 30px !important;
}

#projects .card-head {
    height: 350px;
    overflow: hidden;
}

#projects .card-head img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
